@media (max-width: 1200px)
    .menu
        &_link
            font-size: 12px
        &_item
            padding-right: 25px
    .promo
        &_header
            font-size: 50px
    .reasons
        &_descr
            width: 310px
@media ( max-width: 991px)
    .menu
        &_item
            // padding-right: 28px
    .promo
        &_header
            font-size: 55px
    .footer
        &_menu
            a
                font-size: 14px
        &_submenu
            a
                font-size: 9px
